/*common css start*/

body {
    margin: 0;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #0f2656;
}

/*common css end*/

/* header start*/

header {
    border-bottom: 2px solid #f1f2f5;
    padding: 15px 0;
}

.container {
    margin: 0 auto;
    width: 90%;
    /*border: 1px solid navy;*/
    overflow: hidden;
}

.logo {
    width: 10%;
    /*border: 1px solid black;*/
    float: left;
}

.logo img {
    width: 100%;
}

.menu {
    width: 50%;
    /*border: 1px solid black;*/
    float: right;
    padding-top: 10px;
}

.menu ul {
    float: right;
}

.menu ul li {
    list-style: none;
    float: left;
}

.menu ul li a {
    display: inline-block;
    padding: 0px 25px;
    color: #0f2656;
    text-decoration: none;
    transition: .33s ease;
}

.menu ul li:last-child a {
    padding-right: 0;
}

.menu ul li a:hover {
    color: #008aff;
}

/*header end*/

/*section start*/

.bunner {
    padding: 50px 0;
}

.container2 {
    margin: 0 auto;
    width: 65%;
    overflow: hidden;
    text-align: center;
    /*border: 1px solid green;*/
}

.b-h1 {
    margin: 0;
    padding: 0px 344px;
    font-size: 45px;
    font-weight: 700;
    line-height: 60px;
    /*border: 1px solid black;*/
}

.b-h1 span {
    color: #1292ff;
}

.b-p {
    margin: 10px 0px 30px;
    padding: 0 230px;
    line-height: 20px;
    /*border: 1px solid black;*/
}

.b-img {
    /*border: 1px solid red;*/
    margin: 0 auto;
    width: 50%;
}

.b-img img {
    width: 100%;
}

/*section end*/

/*suceess start*/

.Suceess {
    /* border: 1px solid red;*/
    margin: 50px auto;
    width: 65%;
    overflow: hidden;
    text-align: center;
}

.s-left {
    margin: 15px;
    width: 45%;
    text-align: right;
    float: left;
}

.s-left h2 {
    margin: 0 auto;
    color: #f15767;
    font-size: 60px;
}

.s-left p {
    margin-left: 10px;
    line-height: 30Px;
}

.s-right {
    margin: 0px;
    width: 50%;
    font-size: 45px;
    font-weight: 700;
    text-align: left;
    line-height: 60px;
    float: right;
}

.s-right h1 {
    margin: 0px;
    font-size: 45px;
    font-weight: 700;
    text-align: left;
    line-height: 70px;
}

/*suceess end*/

/* service start*/

.service {}

.single-service {
    /*border: 1px solid red;*/
    width: 30%;
    padding: 50px 1%;
    float: left;
    margin-right: 2%;
}

.single-service:first-child {
    background-color: #fdebed;
}

.single-service:nth-child(2) {
    background-color: #ebf9f4;
}

.single-service:last-child {
    background-color: #fff7e8;
    margin-right: 0;
}

.ss-img {}

.ss-img img {
    width: 100%;
}

.ss-h2 {
    margin: 15px 0px;
    font-size: 35px;
    font-weight: 700;
}

.ss-p {
    margin: 0;
    line-height: 25px;
}

/*service end*/

/*footer start*/

footer {
    margin-top: 80px;
    background-color: #1292ff;
    text-align: center;
    padding: 25px;
}

p {
    margin: 0 auto;
}

p a {
    color: #f1f2f5;
    letter-spacing: 4px;
    text-decoration: none;
}

/*footer end*/